body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(224, 169, 109);
  font-family: papyrus;
  font-weight: bold;
  color: #402919;
}

h1 {
  color: #5980AF;
  width: 60vw;
  margin: 1em auto;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

p[id="description"] {
  width: 60vw;
  margin: 1em auto;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
  font-size: 1.2em;
}

p {
  margin: 1.25em 0 0.25em 0;
}

form {
  width: 60vw;
  margin: auto;
  padding: 0;
  min-width: 300px;
  max-width: 500px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 0.5em 0.5em;
  display: block;
  background: #201E20;
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
}

::placeholder, .dropdown-default {
  color: grey;
}

textarea::placeholder {
  text-align: center;
}

label {
  font-size: 16px;
  display: flex;
  /*I learn about flex from inspection on https://survey-form.freecodecamp.rocks/ and searching, when I try to fix the misalign label texts for the buttons, some other parameters like such as margin size I took from the example as well, then tweak them accordingly*/
  align-items: center;
  margin: 0.25em 0;
}

.radio-button, .checkbox-button {
  width: 1.25em;
  height: 1.25em;
  margin: 0.5em 0.5em 0.5em 0;
}

.submit-button {
  width: 100%;
  margin: 1.5rem 0 0 0;
  padding: 0.5em;
  display: block;
  box-sizing: border-box;
  /*I was trying to fix the tiny misalign of the input boxes and found this from searching*/
  background: #DC5E6A;
  color: white;
  border: 0;
  border-radius: 0px;
}

.image-end {
  display: block;
  margin: auto;
  width: 100%;
}